@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;

  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-border: #e4e4e7;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased font-sans selection:bg-brand-100 selection:text-brand-900;
  }
}
